<center>
    <form action="/home" class="inline">
        <button class="button1" type="home">Home</button><br>
    </form>
    <form action="/reg" class="inline">
        <button class="button1" type="profile">Profile</button>
    </form>
    <form action="/calendar" class="inline">
        <button class="button1" type="calendar">Calendar</button>
    </form>
    <form action="/charity" class="inline">
        <button class="button1" type="charity">Charity</button>
    </form>
</center>